build/
boot/uefi-loader/build/
.ciukios-testlogs/
.claude/
.vscode/

*.log
*.img
*.fd

third_party/freedos/runtime/*
!third_party/freedos/runtime/.gitkeep

third_party/freedos/sources/*
!third_party/freedos/sources/.gitkeep
