; CiukiOS installed drivers (Control Panel > Drivers).
; LOADDRV.COM runs the enabled ones at startup.
; E CLASS NAME [@PCI|@PCI=VVVV:DDDD,...|@APM] COMMAND...
; E is 1 enabled or 0 disabled. @PCI reads Hardware= from DRIVER.INF.
; %PKT% selects a free packet interrupt; %IRQ% and %IO% use the PCI device.
; Drivers without a safe hardware match remain installed but disabled.
1 NET NE2000 @PCI \DRIVERS\NET\NE2000\NE2000.COM %PKT% %IRQ% %IO%
1 NET PCNET @PCI \DRIVERS\NET\PCNET\NE2100.COM %PKT% %IRQ% %IO%
1 NET RTL8139 @PCI \DRIVERS\NET\RTL8139\RTL8139.COM %PKT%
0 NET E1000 @PCI \DRIVERS\NET\E1000\E1000.COM %PKT%
0 NET E100 @PCI \DRIVERS\NET\E100\E100.COM /i %PKTH%
0 NET 3C509 \DRIVERS\NET\3C509\3C509.COM %PKT%
1 VIDEO S3VBEFIX @PCI \DRIVERS\VIDEO\S3VBEFIX\S3VBEFIX.COM
0 POWER FDAPM @APM \DRIVERS\POWER\FDAPM\FDAPM.COM APMDOS
