# CiukiOS default mTCP profile for QEMU/TAP networking.
# INT 60h is the physical NE2000 driver; NETSTART exposes mTCP on INT 61h.
packetint 0x61
mtu 1500
hostname ciukios

ftpsrv_password_file c:\net\ftppass.txt
ftpsrv_log_file c:\net\ftpsrv.log
ftpsrv_session_timeout 300
ftpsrv_control_port 21
ftpsrv_pasv_base 2048
ftpsrv_pasv_ports 256
ftpsrv_clients 1
ftpsrv_filebuffer_size 16
ftpsrv_tcpbuffer_size 16
ftpsrv_packets_per_poll 2
ftpsrv_exclude_drives ABDEFGHIJKLMNOPQRSTUVWXYZ

HOSTNAME_ASSIGNED ciukios
IPADDR 10.0.2.15
NETMASK 255.255.255.0
GATEWAY 10.0.2.2
NAMESERVER 10.0.2.3
LEASE_TIME 86400
